@use './partials/global' as *;
@use './partials/nav' as *;

.header {
    height: 770px;
    &__title {
        margin: 10% 0 0;
        width: 21%;
        position: relative;
        left: 10%;
    }
    &__description {
        width: 20%;
        position: relative;
        padding-bottom: 30px;
        left: 10%;
    }
    &__button {
        border: #5BACC3;
        width: 11.25rem;
        padding: 1.25rem;
        padding-top: 10px;
        background-color: #5BACC3;
        color: #FFF;
        position: relative;
        left: 10.5%;
        z-index: 2;
    } 
    &__button::before {
        content: " ";
        border: 2px solid #393939;
        width: 100%;
        height: 100%;
        top: -8px;
        left: -8px;
        position: absolute;
    }
    &__button--active:hover {
        background-color: #7fd4ea;
    }
    &__img {
        position: absolute;
        bottom: 330px;
        left: 65%;
        height: 580px;
        z-index: 2;
        top: 15%;
    }
}

/* this section represents the products on the landing page */
.products__title {
    text-align: center;
    margin: 60px auto;
}

.card {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    &__box { 
        justify-content: space-evenly;
        width: 330px;
        height: 440px;
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    &__img {
        width: 10.625rem;
        height: 17.5rem;
        display: block;
        margin: 20px auto 0 auto;
        padding: 20px;
    }
    &__subbox {
        border-radius: 0 0 10px 10px;
        box-sizing: border-box;
        background-color: #fff0ed;
        height: 100px;
        padding: 20px 1px;
    }
    &__title {
        margin: 0 0 0 10px;
        width: fit-content;
        height: 40px;
    }
    &__sub-title {
        width: fit-content;
        color: #909090;
        font-size: 15px;
        margin: 0 0 0 10px;
    }
    &__price {
        margin: 0;
        width: 50px;
        margin: 0;
        color: #5BACC3;
        position: relative;
        left: 87%;
        bottom: 70%;
    }
}

/* button under the card section to view all products */
#btn-box-view-all {
    margin: 60px;
    text-align: center
}

.btn {
    width: 180px;
    padding: 20px;
    padding-top: 10px;
    margin: 20px;
    color: #FFF;
    background-color: #5BACC3;
    border: none;
    position: relative;
    &:hover {
        background-color: #7fd4ea;
    }
    &--active::before {
        content: " ";
        border: 2px solid #393939;
        width: 100%;
        height: 100%;
        top: -8px;
        left: -8px;
        position: absolute;
    }
}

/* Icon Size */
.icon-size {
    width: 50px;
}
/* box card to lay content side by side refering to cold brew card */
.box-card{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    column-gap: 30px;
}
/* Article name coldBrewCard dimensional porpose*/
.coldBrewCard {
    width: 560px;
    padding: 50px;
    margin: 0 6% 0 2%;
    &__title {
        margin: 47px 0 4px;
    }
    &__description {
        margin-top: 0;
    }
    /* icon placement inside article and figure tag tag */
    &__fig {
        width: 540px;
        margin: 0 10px 10px 0;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        margin-left: 0;
    }
}

/* aside img for cold brew card under article tag */
.decorativecard {
    margin: 0;
    width: 450px;
    position: relative;
    /* offsite border for slyting */
    &::before {
    content: " ";
    border: 5px solid #5BACC3;
    width: 89%;
    height: 80%;
    top: 20px;
    left: 20px;
    position: absolute;
    }
    &__back-img {
    width: 400px;
    padding: 20px;
    margin: 20px;
    z-index: 1;
    }
    /* this is the overlay image of decorative card */
    &__overlay{
    position: relative;
    z-index: 2; 
    bottom: 85%;
    left: 24%;
    width: 250px;
    }
    &__overlay-img {
    margin: 20px;
    padding: 20px;
    height: 280px;
    }
}

.banner {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 100px 10px 100px;
    &__desc {
        background-color: #393939;
        color: #FFF;
        text-align: center;
        width: 90%;
        padding: 20px;
        margin: 20px;
        font-size: 45px;
        font-weight: 400;
    }
}
    
/* bold the text in span tags where is required */
.bold--ative {
    font-weight: 700;
}
/* footer section */
 .footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff0ed;
    height: 110px;
    padding: 50px;
    z-index: 1;
    &__img {
        width: 50px;
    }
    &__svg {
        width: 120px;
        opacity: 25%;
        position: relative;
        right: 13.5%;
        bottom: 35%;
        z-index: 2;
    }
    &__svg1 {
        width: 120px;
        opacity: 25%;
        position: relative;
        left: 13.5%;
        top: 30%;
        z-index: 2;    
    }
 }

 
 